SmartParking/SmartParking Node-RED/smartparking_server.json
[{"id":"ced57bbe.9d9598","type":"tab","label":"SmartParking server","disabled":false,"info":""},{"id":"a2068054.84e39","type":"http in","z":"ced57bbe.9d9598","name":"","url":"/smartparking/req","method":"post","upload":false,"swaggerDoc":"","x":140,"y":120,"wires":[["8fac60c.0dcf9a","bc2b48af.ddfb58"]]},{"id":"57d217d.19248e8","type":"debug","z":"ced57bbe.9d9598","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":680,"y":320,"wires":[]},{"id":"3798f136.609bfe","type":"function","z":"ced57bbe.9d9598","name":"Compute distances","func":"R = 6371e3; //earth's ray\nradLatReq = Math.PI * msg.request.pos.lat /180\nradLonReq = Math.PI * msg.request.pos.lon /180\nmsg.payload.forEach(function(x) {\n    radLatCurr = Math.PI * x.lat /180\n    radLonCurr = Math.PI * x.lon /180\n    deltaLon = Math.abs(radLonReq - radLonCurr)\n    x.dist = Math.acos((Math.sin(radLatReq)*Math.sin(radLatCurr)) + (Math.cos(radLatReq)*Math.cos(radLatCurr)) * Math.cos(deltaLon))*R\n    node.log(x.parkid)\n    node.log(x.lat)\n    node.log(x.lon)\n    node.log(x.dist)\n})\nreturn msg","outputs":1,"noerr":0,"x":710,"y":220,"wires":[["371db4b9.73553c"]]},{"id":"371db4b9.73553c","type":"sort","z":"ced57bbe.9d9598","name":"","order":"ascending","as_num":false,"target":"payload","targetType":"msg","msgKey":"dist","msgKeyType":"jsonata","seqKey":"payload","seqKeyType":"msg","x":870,"y":160,"wires":[["7e0bd367.5979cc"]]},{"id":"7e0bd367.5979cc","type":"json","z":"ced57bbe.9d9598","name":"","property":"payload","action":"","pretty":false,"x":990,"y":200,"wires":[["b6e0ff41.a8767"]]},{"id":"b6e0ff41.a8767","type":"http response","z":"ced57bbe.9d9598","name":"","statusCode":"","headers":{},"x":1080,"y":280,"wires":[]},{"id":"316e6de2.9eeee2","type":"postgres","z":"ced57bbe.9d9598","postgresdb":"dea78d81.60292","name":"","output":true,"outputs":1,"x":460,"y":220,"wires":[["57d217d.19248e8","3798f136.609bfe"]]},{"id":"bc2b48af.ddfb58","type":"function","z":"ced57bbe.9d9598","name":"Prepare query","func":"msg.request = msg.payload\nvar query = \"SELECT * FROM smartparking.parks WHERE type = '\"+msg.request.type+\"' AND status = 0\"\nmsg.payload = [\n    {\n        'query' : query,\n        'output' : true\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":120,"wires":[["316e6de2.9eeee2"]]},{"id":"8fac60c.0dcf9a","type":"debug","z":"ced57bbe.9d9598","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":380,"y":280,"wires":[]},{"id":"804a31f1.aa2ad","type":"http in","z":"ced57bbe.9d9598","name":"","url":"/smartparking/count","method":"post","upload":false,"swaggerDoc":"","x":130,"y":360,"wires":[["37edbab9.4ab3a6"]]},{"id":"37edbab9.4ab3a6","type":"function","z":"ced57bbe.9d9598","name":"Prepare count query","func":"msg.request = msg.payload\nvar query = \"SELECT COUNT(*) as numparks FROM smartparking.parks WHERE type = '\"+msg.request.type+\"' AND status = 0\"\nmsg.payload = [\n    {'query' : query,\n    'output': true}\n    ]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":460,"wires":[["81f04826.99dfb8"]]},{"id":"81f04826.99dfb8","type":"postgres","z":"ced57bbe.9d9598","postgresdb":"dea78d81.60292","name":"","output":true,"outputs":1,"x":600,"y":460,"wires":[["7e0bd367.5979cc"]]},{"id":"38171da3.3d33c2","type":"http in","z":"ced57bbe.9d9598","name":"","url":"/smartparking/login","method":"post","upload":false,"swaggerDoc":"","x":130,"y":600,"wires":[["c2401ccb.c5cbe"]]},{"id":"c2401ccb.c5cbe","type":"function","z":"ced57bbe.9d9598","name":"Prepare login query","func":"node.log('')\nvar query = \"SELECT * FROM smartparking.users WHERE username = '\"+msg.payload.user+\"' AND psw = '\"+msg.payload.psw+\"'\"\nmsg.payload = [\n    { 'query' : query,\n        'output' : true\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":600,"wires":[["4473bfcd.6a2e9"]]},{"id":"4473bfcd.6a2e9","type":"postgres","z":"ced57bbe.9d9598","postgresdb":"dea78d81.60292","name":"","output":true,"outputs":1,"x":600,"y":600,"wires":[["d2cf7f63.8a476"]]},{"id":"d2cf7f63.8a476","type":"function","z":"ced57bbe.9d9598","name":"Grant/deny","func":"if(msg.payload.length === null || msg.payload.length === 0) {\n    msg.payload=\"{\\\"LoginResult\\\": false}\"\n}\nelse {\n    msg.payload = \"{\\\"LoginResult\\\": true}\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":600,"wires":[["7e0bd367.5979cc"]]},{"id":"dea78d81.60292","type":"postgresdb","z":"","hostname":"192.168.1.198","port":"5432","db":"postgres","ssl":false}]