SmartParking/SmartParking Node-RED/smartparking_sensor_manager.json
[{"id":"35d12601.733daa","type":"tab","label":"SmartParking sensor manager","disabled":false,"info":""},{"id":"51c88dd4.cea134","type":"http in","z":"35d12601.733daa","name":"","url":"/smartparking/sensors","method":"post","upload":false,"swaggerDoc":"","x":170,"y":220,"wires":[["398716a2.3ffa0a","7a92c97b.1076b8"]]},{"id":"e90b3882.84ca68","type":"http response","z":"35d12601.733daa","name":"","statusCode":"","headers":{},"x":840,"y":280,"wires":[]},{"id":"398716a2.3ffa0a","type":"debug","z":"35d12601.733daa","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":390,"y":300,"wires":[]},{"id":"7a92c97b.1076b8","type":"function","z":"35d12601.733daa","name":"Prepare query","func":"node.log(msg.payload.parkid)\nnode.log(msg.payload.status)\nmsg.payload = [\n    {\n        'query' : \"UPDATE smartparking.parks SET status = \"+msg.payload.status+\" WHERE parkid = \"+msg.payload.parkid,\n        'output' : true\n    }\n    ]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":140,"wires":[["b05d3694.676898"]]},{"id":"b05d3694.676898","type":"postgres","z":"35d12601.733daa","postgresdb":"dea78d81.60292","name":"","output":true,"outputs":1,"x":640,"y":220,"wires":[["e90b3882.84ca68"]]},{"id":"dea78d81.60292","type":"postgresdb","z":"","hostname":"192.168.1.198","port":"5432","db":"postgres","ssl":false}]