SmartParking/Mutants/executableNodeREDflows/sql/14_c2401ccb.c5cbe.js.json
[{"id":"ced57bbe.9d9598","type":"tab","label":"SmartParking server","disabled":false,"info":""},{"id":"35d12601.733daa","type":"tab","label":"SmartParking sensor manager","disabled":false,"info":""},{"id":"14af5a8e.7bcea5","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"b005d7c9.07b5a8","type":"mqtt-broker","z":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"77f5cb1c.ef49d4","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dea78d81.60292","type":"postgresdb","z":"","hostname":"192.168.1.198","port":"5432","db":"postgres","ssl":false},{"id":"22d8efc9.3b221","type":"websocket-listener","z":"","path":"/diamh.apk","wholemsg":"false"},{"id":"48fdde6a.02661","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"46c3899d.193d28","type":"MSSQL-CN","z":"","name":"MSSQL","server":"127.0.0.1","encyption":true,"database":"master"},{"id":"75c8f5c8.0e88ac","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e6e12b4c.7a89e8","type":"telegram bot","z":"","botname":"TwitterForwarderTest","usernames":"","chatids":"","baseapiurl":"","pollinterval":"10"},{"id":"8790caa8.3eb198","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fda07d0.80b788","type":"ui_group","z":"","name":"GPS Device","tab":"569d905.11adc7","disp":true,"width":"6","collapse":false},{"id":"569d905.11adc7","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"ab5416e.555b3e8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"940e57f2.5498d8","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"50e51b9e.c903b4","type":"ui_group","z":"","name":"GPS Device","tab":"e423882c.050c38","disp":true,"width":"6","collapse":false},{"id":"e423882c.050c38","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"f7d75031.a05b7","type":"mqtt-broker","z":"","name":"localhost:1883","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"b073464e.dcc4d8","type":"ui_group","z":"","name":"Gauges","tab":"638fd5dd.7e26cc","disp":true,"width":"6","collapse":false},{"id":"276a76b.298f68a","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"638fd5dd.7e26cc","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"99d7d3d7.fd5dd","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"edff54cc.d07f98","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":true},{"id":"54bd8b6b.585594","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3237648b.ef12fc","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"65025ec9.4ac26","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a2068054.84e39","type":"http in","z":"ced57bbe.9d9598","name":"","url":"/smartparking/req","method":"post","upload":false,"swaggerDoc":"","x":140,"y":120,"wires":[["8fac60c.0dcf9a","bc2b48af.ddfb58"]]},{"id":"57d217d.19248e8","type":"debug","z":"ced57bbe.9d9598","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":680,"y":320,"wires":[]},{"id":"3798f136.609bfe","type":"function","z":"ced57bbe.9d9598","name":"Compute distances","func":"R = 6371e3; //earth's ray\nradLatReq = Math.PI * msg.request.pos.lat /180\nradLonReq = Math.PI * msg.request.pos.lon /180\nmsg.payload.forEach(function(x) {\n    radLatCurr = Math.PI * x.lat /180\n    radLonCurr = Math.PI * x.lon /180\n    deltaLon = Math.abs(radLonReq - radLonCurr)\n    x.dist = Math.acos((Math.sin(radLatReq)*Math.sin(radLatCurr)) + (Math.cos(radLatReq)*Math.cos(radLatCurr)) * Math.cos(deltaLon))*R\n    node.log(x.parkid)\n    node.log(x.lat)\n    node.log(x.lon)\n    node.log(x.dist)\n})\nreturn msg","outputs":1,"noerr":0,"x":710,"y":220,"wires":[["371db4b9.73553c"]]},{"id":"371db4b9.73553c","type":"sort","z":"ced57bbe.9d9598","name":"","order":"ascending","as_num":false,"target":"payload","targetType":"msg","msgKey":"dist","msgKeyType":"jsonata","seqKey":"payload","seqKeyType":"msg","x":870,"y":160,"wires":[["7e0bd367.5979cc"]]},{"id":"7e0bd367.5979cc","type":"json","z":"ced57bbe.9d9598","name":"","property":"payload","action":"","pretty":false,"x":990,"y":200,"wires":[["b6e0ff41.a8767"]]},{"id":"b6e0ff41.a8767","type":"http response","z":"ced57bbe.9d9598","name":"","statusCode":"","headers":{},"x":1080,"y":280,"wires":[]},{"id":"51c88dd4.cea134","type":"http in","z":"35d12601.733daa","name":"","url":"/smartparking/sensors","method":"post","upload":false,"swaggerDoc":"","x":170,"y":220,"wires":[["398716a2.3ffa0a","7a92c97b.1076b8"]]},{"id":"e90b3882.84ca68","type":"http response","z":"35d12601.733daa","name":"","statusCode":"","headers":{},"x":840,"y":280,"wires":[]},{"id":"398716a2.3ffa0a","type":"debug","z":"35d12601.733daa","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":390,"y":300,"wires":[]},{"id":"316e6de2.9eeee2","type":"postgres","z":"ced57bbe.9d9598","postgresdb":"dea78d81.60292","name":"","output":true,"outputs":1,"x":460,"y":220,"wires":[["57d217d.19248e8","3798f136.609bfe"]]},{"id":"bc2b48af.ddfb58","type":"function","z":"ced57bbe.9d9598","name":"Prepare query","func":"msg.request = msg.payload\nvar query = \"SELECT * FROM smartparking.parks WHERE type = '\"+msg.request.type+\"' AND status = 0\"\nmsg.payload = [\n    {\n        'query' : query,\n        'output' : true\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":120,"wires":[["316e6de2.9eeee2"]]},{"id":"7a92c97b.1076b8","type":"function","z":"35d12601.733daa","name":"Prepare query","func":"node.log(msg.payload.parkid)\nnode.log(msg.payload.status)\nmsg.payload = [\n    {\n        'query' : \"UPDATE smartparking.parks SET status = \"+msg.payload.status+\" WHERE parkid = \"+msg.payload.parkid,\n        'output' : true\n    }\n    ]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":140,"wires":[["b05d3694.676898"]]},{"id":"b05d3694.676898","type":"postgres","z":"35d12601.733daa","postgresdb":"dea78d81.60292","name":"","output":true,"outputs":1,"x":640,"y":220,"wires":[["e90b3882.84ca68"]]},{"id":"8fac60c.0dcf9a","type":"debug","z":"ced57bbe.9d9598","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":380,"y":280,"wires":[]},{"id":"804a31f1.aa2ad","type":"http in","z":"ced57bbe.9d9598","name":"","url":"/smartparking/count","method":"post","upload":false,"swaggerDoc":"","x":130,"y":360,"wires":[["37edbab9.4ab3a6"]]},{"id":"37edbab9.4ab3a6","type":"function","z":"ced57bbe.9d9598","name":"Prepare count query","func":"msg.request = msg.payload\nvar query = \"SELECT COUNT(*) as numparks FROM smartparking.parks WHERE type = '\"+msg.request.type+\"' AND status = 0\"\nmsg.payload = [\n    {'query' : query,\n    'output': true}\n    ]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":460,"wires":[["81f04826.99dfb8"]]},{"id":"81f04826.99dfb8","type":"postgres","z":"ced57bbe.9d9598","postgresdb":"dea78d81.60292","name":"","output":true,"outputs":1,"x":600,"y":460,"wires":[["7e0bd367.5979cc"]]},{"id":"38171da3.3d33c2","type":"http in","z":"ced57bbe.9d9598","name":"","url":"/smartparking/login","method":"post","upload":false,"swaggerDoc":"","x":130,"y":600,"wires":[["c2401ccb.c5cbe"]]},{"id":"c2401ccb.c5cbe","type":"function","z":"ced57bbe.9d9598","name":"Prepare login query","func":"node.log('')\r\nvar query = \"SELECT * FROM smartparking.users WHERE username = '\"+msg.payload.user+\"'\"\r\nmsg.payload = [\r\n    { 'query' : query,\r\n        'output' : true\r\n    }\r\n]\r\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":600,"wires":[["4473bfcd.6a2e9"]]},{"id":"4473bfcd.6a2e9","type":"postgres","z":"ced57bbe.9d9598","postgresdb":"dea78d81.60292","name":"","output":true,"outputs":1,"x":600,"y":600,"wires":[["d2cf7f63.8a476"]]},{"id":"d2cf7f63.8a476","type":"function","z":"ced57bbe.9d9598","name":"Grant/deny","func":"if(msg.payload.length === null || msg.payload.length === 0) {\n    msg.payload=\"{\\\"LoginResult\\\": false}\"\n}\nelse {\n    msg.payload = \"{\\\"LoginResult\\\": true}\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":600,"wires":[["7e0bd367.5979cc"]]}]