DiaMH/Mutants/executableNodeREDFlows/cloud/dd7498c4.644458_110_StringLiteral.js.json
[{"id":"6e3bcaba.46df64","type":"tab","label":"Sensor_SingleValue","disabled":false,"info":""},{"id":"8fae5879.7ce068","type":"tab","label":"DiaMH Cloud","disabled":false,"info":""},{"id":"b9990900.5608c8","type":"tab","label":"Insuline pump","disabled":false,"info":""},{"id":"39624027.a7104","type":"tab","label":"Control","disabled":false,"info":""},{"id":"14af5a8e.7bcea5","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"94b3cf15.2742f","type":"twitter-credentials","z":"","screen_name":"@darioolly"},{"id":"b005d7c9.07b5a8","type":"mqtt-broker","z":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"77f5cb1c.ef49d4","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9906f5b1.008fc8","type":"twitter-credentials","z":"","screen_name":"@cordeliachase99"},{"id":"fb561a47.bf7288","type":"twitter-credentials","z":"","screen_name":"@lilahmorgan999"},{"id":"22d8efc9.3b221","type":"websocket-listener","z":"","path":"/diamh.apk","wholemsg":"false"},{"id":"48fdde6a.02661","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"75c8f5c8.0e88ac","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8790caa8.3eb198","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"940e57f2.5498d8","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f7d75031.a05b7","type":"mqtt-broker","z":"","name":"localhost:1883","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"276a76b.298f68a","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"99d7d3d7.fd5dd","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"edff54cc.d07f98","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":true},{"id":"54bd8b6b.585594","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3237648b.ef12fc","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"65025ec9.4ac26","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dea78d81.60292","type":"postgresdb","z":0,"hostname":"localhost","port":"5432","db":"postgres","ssl":false},{"id":"46c3899d.193d28","type":"MSSQL-CN","z":0,"name":"MSSQL","server":"127.0.0.1","encyption":true,"database":"master"},{"id":"e6e12b4c.7a89e8","type":"telegram bot","z":0,"botname":"TwitterForwarderTest","usernames":"","chatids":"","baseapiurl":"","pollinterval":"10"},{"id":"fda07d0.80b788","type":"ui_group","z":0,"name":"GPS Device","tab":"569d905.11adc7","disp":true,"width":"6","collapse":false},{"id":"569d905.11adc7","type":"ui_tab","z":0,"name":"Home","icon":"dashboard"},{"id":"ab5416e.555b3e8","type":"ui_base","z":0,"theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"50e51b9e.c903b4","type":"ui_group","z":0,"name":"GPS Device","tab":"e423882c.050c38","disp":true,"width":"6","collapse":false},{"id":"e423882c.050c38","type":"ui_tab","z":0,"name":"Home","icon":"dashboard"},{"id":"b073464e.dcc4d8","type":"ui_group","z":0,"name":"Gauges","tab":"638fd5dd.7e26cc","disp":true,"width":"6","collapse":false},{"id":"638fd5dd.7e26cc","type":"ui_tab","z":0,"name":"Home","icon":"dashboard"},{"id":"77dbc165.917f1","type":"function","z":"b9990900.5608c8","name":"reset pump","func":"node.log(\"Restoring pump\")\ncontext.global.set(\"currDose\", 0)\ncontext.global.set(\"pwr\", 1)\ncontext.global.set(\"lastTs\", 0)\nmsg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":460,"wires":[[]]},{"id":"38a80ee9.bc85f2","type":"comment","z":"b9990900.5608c8","name":"README","info":"Resettare prima di avviare l'app mobile, altrimenti\nla pompa non risponderà al ping e l'app\nmostrerà connessione fallita","x":225.10000610351562,"y":315.20001220703125,"wires":[]},{"id":"932dea2f.9f4b18","type":"function","z":"b9990900.5608c8","name":"change dose","func":"if(context.global.get(\"pwr\") == 1) {\n    var currDose = context.global.get('currDose') || 0\n    node.log(\"INSULINE PUMP: received\"+msg.payload.ins,+\" timestamp \"+msg.payload.ts);\n    var lastTs = context.global.get(\"lastTs\")||0\n    if(lastTs == 0 || msg.payload.ts != lastTs) {\n        currDose += msg.payload.ins\n        context.global.set(\"currDose\", currDose)\n        context.global.set(\"lastTs\", msg.payload.ts)\n    }\n    msg.payload=currDose.toString()+'\\n'\n    return msg;\n}","outputs":1,"noerr":0,"x":610,"y":80,"wires":[["1a54dd23.d90f93"]]},{"id":"58e6420.885e2c","type":"tcp in","z":"b9990900.5608c8","name":"","server":"server","host":"","port":"2692","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":75.10000610351562,"y":91.60000610351562,"wires":[["c8d8e572.672298","735f5de5.9f0d54"]]},{"id":"7fbe9fd.04d626","type":"tcp out","z":"b9990900.5608c8","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":850,"y":200,"wires":[]},{"id":"1a54dd23.d90f93","type":"function","z":"b9990900.5608c8","name":"","func":"node.log(\"Replying \"+msg.payload)\nnode.log(\"type :\"+typeof msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":140,"wires":[["7fbe9fd.04d626"]]},{"id":"c8d8e572.672298","type":"debug","z":"b9990900.5608c8","name":"","active":true,"console":"true","complete":"payload","x":187.10000610351562,"y":32.38750457763672,"wires":[]},{"id":"735f5de5.9f0d54","type":"json","z":"b9990900.5608c8","name":"","x":190,"y":200,"wires":[["bd96b210.72e72"]]},{"id":"bd96b210.72e72","type":"switch","z":"b9990900.5608c8","name":"","property":"payload.ins","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":330,"y":220,"wires":[["60153b8f.6de084"],["c79a1fac.29835"]]},{"id":"c79a1fac.29835","type":"function","z":"b9990900.5608c8","name":"reply to ping","func":"node.log(\"received ping\")\nnode.log(context.global.get(\"pwr\"))\nif(context.global.get(\"pwr\") == 1) {\n    node.log(\"replying ping\")\n    msg.payload=\"{\\\"pong\\\" : 1}\\n\"\n    return msg;\n}","outputs":1,"noerr":0,"x":530,"y":260,"wires":[["7fbe9fd.04d626"]]},{"id":"60153b8f.6de084","type":"delay","z":"b9990900.5608c8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":160,"wires":[["932dea2f.9f4b18"]]},{"id":"c2845047.0dcb4","type":"function","z":"8fae5879.7ce068","name":"Get Current State","func":"node.log(msg.payload)\nvar status=context.global.get('status')||0\nvar discard=context.global.get('discard')||0\nnode.log('Current cloud status: '+status.toString())\nmsg['stat'] = status\nmsg['discard'] = discard\nreturn msg","outputs":1,"noerr":0,"x":305,"y":106.19996643066406,"wires":[["d6e05ee2.6b537"]]},{"id":"984d6183.da74d","type":"function","z":"8fae5879.7ce068","name":"Prepare Dose","func":"var ts = (new Date).getTime()\nmsg.payload = \"{\\\"insuline\\\" : 1, \\\"timestamp\\\": \"+ts+\"}\"\ncontext.global.set('discard', 5)\ncontext.global.set('last', [])\ncontext.global.set('count', 0)\nreturn msg","outputs":"1","noerr":0,"x":1555,"y":186.19996643066406,"wires":[["5850bd18.790254"]]},{"id":"76c08d45.00c634","type":"function","z":"8fae5879.7ce068","name":"Critical > 15 - Problematic","func":"msg.payload= \"{\\\"alarm\\\" : 1}\"\ncontext.global.set('status', 2)\ncontext.global.set('last', [])\ncontext.global.set('count', 0)\ncontext.global.set('discard', 5)\nnode.log('next cloud status: 2')\nreturn msg","outputs":"1","noerr":0,"x":1305,"y":246.19996643066406,"wires":[["5850bd18.790254"]]},{"id":"c8ab8de2.b4d91","type":"function","z":"8fae5879.7ce068","name":"restore  global vars","func":"node.log(\"Restoring cloud defaults\")\ncontext.global.set(\"erogated\", 0)\ncontext.global.set(\"last\",[])\ncontext.global.set(\"count\",0)\ncontext.global.set(\"treshold\", 160)\ncontext.global.set(\"status\", 0)\ncontext.global.set('discard', 0)\n","outputs":1,"noerr":0,"x":483.1000061035156,"y":757.5999908447266,"wires":[[]]},{"id":"1b9ee39b.27badc","type":"switch","z":"8fae5879.7ce068","name":"Select Next State","property":"critical","propertyType":"msg","rules":[{"t":"lt","v":"4","vt":"num"},{"t":"btwn","v":"4","vt":"num","v2":"15","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1060,"y":179.19996643066406,"wires":[["dd7498c4.644458"],["a98a7346.b7d11"],["76c08d45.00c634","984d6183.da74d"]]},{"id":"2186e4fc.d6961c","type":"inject","z":"8fae5879.7ce068","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":268.1000061035156,"y":760.7999420166016,"wires":[["c8ab8de2.b4d91"]]},{"id":"d6e05ee2.6b537","type":"switch","z":"8fae5879.7ce068","name":"Switch Current State","property":"stat","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":617,"y":66.19996643066406,"wires":[["b7ccc3f4.00135"],["a419518e.c5984"],["a419518e.c5984"]]},{"id":"b7ccc3f4.00135","type":"function","z":"8fae5879.7ce068","name":" Count critical values","func":"var last = context.global.get('last')||[]\nvar count = context.global.get('count') || 0;\nvar treshold = context.global.get('treshold')||160;\nlast[count] = msg.payload\ncount += 1;\ncount=count%20;\ncontext.global.set('count',count);\ncontext.global.set('last', last);\ncritical =  0;\nlast.forEach(function (x) {if(x>treshold) critical++;})\nnode.log(\"Array length\"+last.length)\nnode.log(\"Current element: \"+last[count-1])\nnode.log(\"critical: \"+critical)\nmsg.critical=critical\nreturn msg;","outputs":1,"noerr":0,"x":869,"y":41.19996643066406,"wires":[["1b9ee39b.27badc"]]},{"id":"a419518e.c5984","type":"function","z":"8fae5879.7ce068","name":"MoreInsuline / Alarm  and get Number of Element to Discard ","func":"var count = context.global.get('count') || 0;\nvar discard = context.global.get('discard')||0\nmsg.count=count\nmsg.discard=discard\nreturn msg;","outputs":1,"noerr":0,"x":672,"y":173.19996643066406,"wires":[["7901a316.6af30c"]]},{"id":"7901a316.6af30c","type":"switch","z":"8fae5879.7ce068","name":"Discard == 0 ?","property":"discard","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":742,"y":342.19996643066406,"wires":[["db3c7741.61c378"],["b10025c6.ab9c88"]]},{"id":"b10025c6.ab9c88","type":"function","z":"8fae5879.7ce068","name":"YES => Drop Value","func":"var discard = msg.discard;\ndiscard = discard - 1;\nnode.log('Discarding value, '+discard+' left')\ncontext.global.set('discard', discard)\nreturn msg;","outputs":1,"noerr":0,"x":949,"y":371.19996643066406,"wires":[[]]},{"id":"db3c7741.61c378","type":"function","z":"8fae5879.7ce068","name":"NO => Count critical values","func":"var count = msg.count\nvar last = context.global.get('last')\nvar treshold = context.global.get('treshold')||160;\nlast[count] = msg.payload\ncount += 1;\ncritical =  0;\nlast.forEach(function (x) {if(x>treshold) critical++;})\nnode.log(\"Array length\"+last.length)\nnode.log(\"Current element: \"+last[count-1])\nnode.log(\"critical: \"+critical)\nmsg.critical=critical\ncontext.global.set('count',count);\ncontext.global.set('last', last);\nnode.log('msg.stat: '+msg.stat)\nif(count>=20) {\n    return msg;\n}","outputs":1,"noerr":0,"x":969,"y":311.19996643066406,"wires":[["1b9ee39b.27badc"]]},{"id":"5850bd18.790254","type":"delay","z":"8fae5879.7ce068","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1663,"y":394.19996643066406,"wires":[["7d2b9f4a.5edb6"]]},{"id":"dd7498c4.644458","type":"function","z":"8fae5879.7ce068","name":"Critical < 4 - Normal","func":"context.global.set('status', 0)\r\n   node.log(\"\")\r\nif(msg.stat !== 0) {\r\n    context.global.set('count', 0)\r\n    return msg;\r\n}\r\n\r\n","outputs":1,"noerr":0,"x":1259,"y":75.19996643066406,"wires":[["67888f46.a25b7"]]},{"id":"a98a7346.b7d11","type":"function","z":"8fae5879.7ce068","name":"4 <= Critical <= 15 - MoreInsulin","func":"node.log('next cloud status: 1')\nnode.log('msg.stat: '+msg.stat.toString())\ncontext.global.set(\"status\", 1)\nif(msg.stat != 2) {\n    return msg;\n} else{\n    return [msg, {payload:\"off\"}]\n}","outputs":"2","noerr":0,"x":1317,"y":155.19996643066406,"wires":[["984d6183.da74d"],["67888f46.a25b7"]]},{"id":"67888f46.a25b7","type":"function","z":"8fae5879.7ce068","name":"Alarm (Problematic) Off","func":"node.log(\"Turning off alarm\")\nmsg.payload= \"{\\\"alarm\\\" : 0}\"\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1639.9000244140625,"y":106.39997863769531,"wires":[["5850bd18.790254"]]},{"id":"98a74864.834468","type":"switch","z":"8fae5879.7ce068","name":"pass only errors","property":"payload.error","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1113,"y":880.1999664306641,"wires":[["e638634a.ac861"]]},{"id":"e638634a.ac861","type":"json","z":"8fae5879.7ce068","name":"","property":"payload","action":"","pretty":false,"x":1293,"y":920.1999664306641,"wires":[[]]},{"id":"4e682d86.724344","type":"comment","z":"8fae5879.7ce068","name":"Executed once every 20 values I==TOT","info":"","x":970,"y":263.19996643066406,"wires":[]},{"id":"1c382811.160b18","type":"tcp in","z":"8fae5879.7ce068","name":"","server":"server","host":"","port":"2696","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":250,"y":660,"wires":[["c8ab8de2.b4d91"]]},{"id":"961570c5.b8a93","type":"tcp in","z":"b9990900.5608c8","name":"","server":"server","host":"","port":"2697","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":480,"y":440,"wires":[["77dbc165.917f1"]]},{"id":"798acbef.89e4b4","type":"inject","z":"39624027.a7104","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":150,"y":180,"wires":[["8ab5860c.068ad8"]]},{"id":"2f78e845.c840f8","type":"function","z":"39624027.a7104","name":"set pattern","func":"com =\"{\\\"filename\\\": \\\"\"+msg.payload+\"\\\"}\"\nnode.log(com)\nmsg.payload=com\nreturn msg;","outputs":1,"noerr":0,"x":354,"y":262.6000289916992,"wires":[[]]},{"id":"8ab5860c.068ad8","type":"function","z":"39624027.a7104","name":"sensor switch","func":"com=\"{\\\"ctrl\\\" : \\\"\"+msg.payload+\"\\\"}\"\n\nnode.log(com)\nmsg.payload=com\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":140,"wires":[[]]},{"id":"1bc8357c.940cbb","type":"inject","z":"39624027.a7104","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":143,"y":99.00000095367432,"wires":[["8ab5860c.068ad8"]]},{"id":"212b2d64.00d2f2","type":"inject","z":"39624027.a7104","name":"","topic":"","payload":"problematic.txt","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":320,"wires":[["2f78e845.c840f8"]]},{"id":"b903138f.9fb1","type":"inject","z":"39624027.a7104","name":"reset cloud","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":573.0000610351562,"y":108.80000400543213,"wires":[["d840f619.6cbbf8"]]},{"id":"a234d40e.565ad8","type":"inject","z":"39624027.a7104","name":"reset pump","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":600,"y":200,"wires":[["98e32c2c.bba92"]]},{"id":"dbde9823.d101d8","type":"function","z":"39624027.a7104","name":"","func":"var milliseconds = (new Date).getTime();\nnode.log(typeof milliseconds)\nreturn msg;","outputs":1,"noerr":0,"x":933.8999938964844,"y":266.1999969482422,"wires":[[]]},{"id":"91326cf8.a00fe","type":"inject","z":"39624027.a7104","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":751.0000305175781,"y":280.8000030517578,"wires":[["dbde9823.d101d8"]]},{"id":"d840f619.6cbbf8","type":"tcp out","z":"39624027.a7104","host":"127.0.0.1","port":"2696","beserver":"client","base64":false,"end":false,"name":"","x":790,"y":120,"wires":[]},{"id":"98e32c2c.bba92","type":"tcp out","z":"39624027.a7104","host":"127.0.0.1","port":"2697","beserver":"client","base64":false,"end":false,"name":"","x":840,"y":200,"wires":[]},{"id":"82ff917e.1d5f","type":"tcp out","z":"8fae5879.7ce068","host":"127.0.0.1","port":"2694","beserver":"server","base64":false,"end":false,"name":"","x":1870,"y":400,"wires":[]},{"id":"98425159.f284c","type":"tcp in","z":"8fae5879.7ce068","name":"","server":"server","host":"","port":"2693","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":80,"y":180,"wires":[["c2845047.0dcb4"]]},{"id":"71086571.8568cc","type":"mqtt in","z":"8fae5879.7ce068","name":"","topic":"diamh/cloud/reset","qos":"2","broker":"77f5cb1c.ef49d4","x":250,"y":560,"wires":[["c8ab8de2.b4d91"]]},{"id":"7d2b9f4a.5edb6","type":"mqtt out","z":"8fae5879.7ce068","name":"","topic":"diamh/client-id/phone_command","qos":"","retain":"","broker":"77f5cb1c.ef49d4","x":1940,"y":340,"wires":[]},{"id":"418e542b.562b3c","type":"mqtt in","z":"b9990900.5608c8","name":"","topic":"diamh/client-id/pump_cmd/reset","qos":"2","broker":"77f5cb1c.ef49d4","x":380,"y":500,"wires":[["77dbc165.917f1"]]},{"id":"75a2d9d4.3a9958","type":"mqtt out","z":"39624027.a7104","name":"","topic":"diamh/client-id/ins_dose","qos":"","retain":"","broker":"77f5cb1c.ef49d4","x":860,"y":440,"wires":[]},{"id":"a7d81ee2.00c7b","type":"inject","z":"39624027.a7104","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":440,"wires":[["75a2d9d4.3a9958"]]},{"id":"2c3cf8cd.1e2b18","type":"mqtt in","z":"8fae5879.7ce068","name":"","topic":"diamh/client-id/glucose_lv","qos":"2","broker":"77f5cb1c.ef49d4","x":120,"y":60,"wires":[["c2845047.0dcb4"]]},{"id":"421a988f.e829e8","type":"mqtt in","z":"6e3bcaba.46df64","name":"","topic":"diamh/sensor/start","qos":"2","broker":"77f5cb1c.ef49d4","x":190,"y":180,"wires":[["9c001570.be32a8"]]},{"id":"9c001570.be32a8","type":"json","z":"6e3bcaba.46df64","name":"Covert JSON String to JSON Object","property":"payload","action":"","pretty":false,"x":390.0999755859375,"y":78.20001220703125,"wires":[["8fb05e7e.005fa"]]},{"id":"8fb05e7e.005fa","type":"function","z":"6e3bcaba.46df64","name":"Generate value","func":"var max_tresh = 320\nvar min_tresh = 90\nvar val = -1\n\nif(msg.payload['kind'] == 'over') {\n    node.log('Sending over')\n    val = Math.floor(Math.random() * (max_tresh - msg.payload.treshold+1)) + msg.payload.treshold;\n}\nelse {\n    node.log(\"Sending under\")\n    val = Math.floor(Math.random() * (msg.payload.treshold - min_tresh+1)) + min_tresh;\n}\n    \n\nmsg.payload=val.toString()+'\\n'\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":160,"wires":[["a8050de5.291f4","28f32184.2ff55e"]]},{"id":"a8050de5.291f4","type":"tcp out","z":"6e3bcaba.46df64","host":"","port":"2691","beserver":"server","base64":false,"end":false,"name":"","x":940,"y":200,"wires":[]},{"id":"28f32184.2ff55e","type":"debug","z":"6e3bcaba.46df64","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":940,"y":340,"wires":[]}]